[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
pypdf = "*"
langchain = "*"
langchain-text-splitters = "*"
faiss-cpu = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
streamlit = "*"
langchain-classic = "*"
langchain-groq = "*"
torch = "*"
torchvision = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
